**/*

!/.gitignore
!/README*
!/LICENSE*
!/CHANGELOG.md
!/ERRORS.md
!/CONTRIBUTING*
!/setup.py
!/setup.cfg
!/pyproject.toml
!/requirements.txt

!/math_engine/
!/math_engine/**

!/tests/
!/tests/**

/math_engine/plugins/
/math_engine/utility/plugin_manager.py